<form class="login-form" id="login-form">
    <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
</form>

<form class="card" id="signup-form">
    <div class="card-header">Create New Account</div>
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">signup</button>
    </div>
</form>

<script src="/javascript/login.js"></script>