<article class="post" style="width: 18rem;">
    {{> post-info post }}
    <div>
    {{> post-content post }}
    </div>
</article>
{{#if loggedIn}}
<form class="card" id="comment-form">
    <div class="card-header">Add a Comment</div>
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>
{{/if}}

<div class="comments">
    {{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}